body{
    margin: 0;
    font-family: PayPalSansBig-Light,Helvetica Neue,Arial,sans-serif;
    color: #2c2e2f;
}
.header{
    width: 100%;
    height: 71px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-logo{
    margin-left: -50px;
    margin-right: 50px;
}
.header-text ul li{
    display: inline-block;
    padding: 30px;
    font-size: 14px;
    font-weight: 401;
    line-height: 37px;
    letter-spacing: 1.3px;
    position: relative;
    text-transform: uppercase;
}
.head-mid{
    width: 100%;
    height: 489px;
    background-color: #00a6e4;
    background-image: url(Images/centre\ photo.png);
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    text-align: center;
}
.head-mid-text{
    font-size: 37px;
    color: #fff;
    font-weight: 300;
    letter-spacing: 1.5px;
    padding-top: 80px;
}
.header-button{
    display: flex;
    gap: 10px;
    margin-left: 70px;
}
.header-login{
    width: 87px;
    height: 40px;
    border: 1px solid #026fc1;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
    letter-spacing: 1.5px;
    font-size: 12px;
    color: #026fc1;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-signup{
    width: 89px;
    height: 42px;
    background-color: #026fc1;
    border-radius: 33px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    letter-spacing: 2px;
    font-size: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-sign-up{
    padding-top: 13px;
}
.head-mid-button, .centre-foot-button{
    width: 320px;
    height: 45px;
    background-color: #fff;
    border-radius: 30px;
    color: #0d3685;
    font-size: 16px;
    cursor: pointer;
    letter-spacing: 1.5px;
    margin: 0 auto;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-signup:hover{
    background-color: #015ea5;
}
.head-mid-button-sign, .header-log-in{
    padding-top: 12px;
}
.header-icons{
    position: absolute;
    display: flex;
    gap: 120px;
    left: 460px;
}
.header-icons3{
    margin-left: 5px;
}
.header-icons4{
    margin-left: 25px;
}
.material-symbols-outlined{
    display: flex;
    transition: transform .5s;
}
.head-base{
    height: 100%;
    height: 135px;
    background-color: #02387b;
    color: #fff;
    font-size: 25px;
    font-weight: 200;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.head-base-text{
    padding-bottom: 20px;
    letter-spacing: 1px;
}
.head-base-button{
    width: 160px;
    height: 36px;
    background-color: #fff;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: 400;
    color: #0d3685;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.centre-tab1{
    width: auto;
    height: 437px;
    background-color: #f5f7fa;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.centre-tab1-left{
    width: 41%;
    height: 357px;
}
.centre-tab1-right{
    width: 35%;
    height: 357px;
    margin-left: -100px;
}
.centre-tab1-text1, .centre-foot-text{
    color: #00A8EA;
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 1.2px;
    padding-top: 60px;
}
.centre-tab1-text2{
    font-size: 15px;
    letter-spacing: 1.3px;
    font-weight: 300;
    line-height: 25px;
    padding-top: 30px;
}
.centre-tab1-button{
    width: 320px;
    height: 45px;
    border-radius: 30px;
    color: #005ea6;
    font-size: 15px;
    font-weight: 400;
    border: 1px solid #005ea6;
    cursor: pointer;
    letter-spacing: 1.5px;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.centre-tab2{
    width: auto;
    height: 437px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.centre-tab2-img{
    margin-left: 100px;
    margin-right: -100px;
}
.centre-tab3-img{
    margin-left: -90px;
    margin-right: 90px;
}
.centre-base-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.centre-base{
    height: 330px;
    display: flex;
    flex-direction: column;
    gap: 70px;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
}
.centre-foot{
    height: 445px;
    background-color: #00A8EA;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.centre-foot-text{
    line-height: 50px;
    font-size: 35px;
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
}
.foot-count{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    font-weight: 400;
    border-radius: 20px;
    width: 62px;
    height: 68px;
    font-size: 40px;
    text-align: center;
}
.centre-foot-count{
    margin-top: 80px;
}
footer{
    height: 445px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}.foot-head{
    width: 1096px;
    height: 250px;
    border-bottom: 0.5px solid rgb(149, 148, 148);
}
.foot-head-text{
    line-height: 1.6;
    font-size: 15px;
    letter-spacing: 1px;
    padding-top: 40px;
}
.foot-help ul li, .foot-centre-ul ul li{
    list-style: none;
    display: inline;
    margin-right: 15px;
    font-size: 13.5px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
}
.foot-help{
    margin-top: 100px;
    margin-left: -39px;
}
.foot-centre{
    width: 1096px;
    height: 250px;
    display: flex;
    justify-content: space-between;
}
.foot-centre-ul{
    margin-left: -39px;
    color: #5f6060;
    margin-right: -17px;
}
.foot-base{
    font-size: 12px;
    letter-spacing: .6px;
    color: #687173;
    font-weight: 300;
    line-height: 1.6;
    width: 1096px;
    height: 250px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: -80px;
}
.foot-base-text a{
    color: #0070ba;
    text-decoration: none;
}
.foot-base-text a:hover{
    text-decoration: underline;
}
.foot-help ul li:hover, .foot-centre-ul ul li:hover{
    text-decoration: underline;
}
.material-symbols-outlined:hover{
 transform: rotate(180deg);
}
.foot-icon{
    position: absolute;
    left: 1175px;
}